# Molecule: H2O (bent H2O)
# Uniform geometry scale relative to the built-in reference: 1.5
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/H2O/s-1.50/hgbs-5/H2O_s-1.50_hgbs-5_as-004-004_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/H2O/s-1.50/hgbs-5/H2O_s-1.50_hgbs-5"
general.file_format = "default"
hamiltonian.add_atom("O", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 1.136311196672, 0.000000000000, 0.880619454883)
hamiltonian.add_atom("H", -1.136311196672, 0.000000000000, 0.880619454883)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 4
hamiltonian.num_active_vacant = 4
hamiltonian.f2q_mapping = "JW"
