# Molecule: NH3 (trigonal-pyramidal NH3)
# Uniform geometry scale relative to the built-in reference: 1.0
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/NH3/s-1.00/hgbs-5/NH3_s-1.00_hgbs-5_as-004-004_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/NH3/s-1.00/hgbs-5/NH3_s-1.00_hgbs-5"
general.file_format = "default"
hamiltonian.add_atom("N", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 0.937900138713, 0.000000000000, 0.381178553703)
hamiltonian.add_atom("H", -0.468950069356, 0.812245346338, 0.381178553703)
hamiltonian.add_atom("H", -0.468950069356, -0.812245346338, 0.381178553703)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 4
hamiltonian.num_active_vacant = 4
hamiltonian.f2q_mapping = "JW"
