general.print_verbose()
general.logfile = "/Users/abhijithj/Code/qhat/hamiltonian_generator/library/Li-Li/2.31/sto-6g/Li-Li_2.31_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/abhijithj/Code/qhat/hamiltonian_generator/library/Li-Li/2.31/sto-6g/Li-Li_2.31_sto-6g"
general.file_format = "default"
L = 2.3053
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Li",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
