general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/C-C/1.50/hgbs-5/C-C_1.50_hgbs-5_as-008-012_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/C-C/1.50/hgbs-5/C-C_1.50_hgbs-5"
general.file_format = "default"
L = 1.5
hamiltonian.add_atom("C", -0.75, 0.0, 0.0)
hamiltonian.add_atom("C", 0.75, 0.0, 0.0)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 8
hamiltonian.num_active_vacant = 12
hamiltonian.f2q_mapping = "JW"
