# Molecule: NH3 (trigonal-pyramidal NH3)
# Uniform geometry scale relative to the built-in reference: 1.5
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/NH3/s-1.50/sto-6g/NH3_s-1.50_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/NH3/s-1.50/sto-6g/NH3_s-1.50_sto-6g"
general.file_format = "default"
hamiltonian.add_atom("N", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 1.406850208069, 0.000000000000, 0.571767830554)
hamiltonian.add_atom("H", -0.703425104034, 1.218368019507, 0.571767830554)
hamiltonian.add_atom("H", -0.703425104034, -1.218368019507, 0.571767830554)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
