general.print_verbose()
general.logfile = "/Users/abhijithj/Code/qhat/hamiltonian_generator/library/Li-Li/4.43/hgbs-5/Li-Li_4.43_hgbs-5_as-004-008_JW.log"
general.file_stub = "/Users/abhijithj/Code/qhat/hamiltonian_generator/library/Li-Li/4.43/hgbs-5/Li-Li_4.43_hgbs-5"
general.file_format = "default"
L = 4.4333
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Li",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 4
hamiltonian.num_active_vacant = 8
hamiltonian.f2q_mapping = "JW"
