# Molecule: H2O (bent H2O)
# Uniform geometry scale relative to the built-in reference: 1.0
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/H2O/s-1.00/sto-6g/H2O_s-1.00_sto-6g_as-008-004_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/H2O/s-1.00/sto-6g/H2O_s-1.00_sto-6g"
general.file_format = "default"
hamiltonian.add_atom("O", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 0.757540797781, 0.000000000000, 0.587079636589)
hamiltonian.add_atom("H", -0.757540797781, 0.000000000000, 0.587079636589)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 8
hamiltonian.num_active_vacant = 4
hamiltonian.f2q_mapping = "JW"
