general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/C-C/1.50/sto-6g/C-C_1.50_sto-6g_as-004-008_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/C-C/1.50/sto-6g/C-C_1.50_sto-6g"
general.file_format = "default"
L = 1.5
hamiltonian.add_atom("C", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("C",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 4
hamiltonian.num_active_vacant = 8
hamiltonian.f2q_mapping = "JW"
