general.print_verbose()
general.logfile = '/Users/a_lee/Repos/qhat/hamiltonian_generator/hgbs5_diatomic_basis_transfer/night/B-B/1.70/hgbs-5/B-B_1.70_hgbs-5_as-010-010_JW.log'
general.file_stub = '/Users/a_lee/Repos/qhat/hamiltonian_generator/hgbs5_diatomic_basis_transfer/night/B-B/1.70/hgbs-5/B-B_1.70_hgbs-5'
general.file_format = "default"
L = 1.7
hamiltonian.add_atom("B", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("B",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 10
hamiltonian.num_active_vacant = 10
hamiltonian.f2q_mapping = "JW"
