general.print_verbose()
general.logfile = "Mg-Mg_3.00_sto-6g_as-016-012_bk.log"
general.file_stub = "Mg-Mg_3.00_sto-6g"
general.file_format = "default"
general.write_initial_state = False
L = 3.00000000
hamiltonian.add_atom("Mg", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Mg",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 16
hamiltonian.num_active_vacant = 12
hamiltonian.f2q_mapping = "BK"
