general.print_verbose()
general.logfile = '/Users/a_lee/Repos/qhat/hamiltonian_generator/extended_diatomic_20q_library/F-F/1.28/sto-6g/F-F_1.28_sto-6g_as-008-002_JW.log'
general.file_stub = '/Users/a_lee/Repos/qhat/hamiltonian_generator/extended_diatomic_20q_library/F-F/1.28/sto-6g/F-F_1.28_sto-6g'
general.file_format = "default"
L = 1.28
hamiltonian.add_atom("F", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("F",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 8
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
