# Molecule: CH4 (tetrahedral CH4)
# Uniform geometry scale relative to the built-in reference: 1.5
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/CH4/s-1.50/sto-6g/CH4_s-1.50_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/CH4/s-1.50/sto-6g/CH4_s-1.50_sto-6g"
general.file_format = "default"
hamiltonian.add_atom("C", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 0.940503588510, 0.940503588510, 0.940503588510)
hamiltonian.add_atom("H", 0.940503588510, -0.940503588510, -0.940503588510)
hamiltonian.add_atom("H", -0.940503588510, 0.940503588510, -0.940503588510)
hamiltonian.add_atom("H", -0.940503588510, -0.940503588510, 0.940503588510)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
