# Molecule: NH3 (trigonal-pyramidal NH3)
# Uniform geometry scale relative to the built-in reference: 1.0
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/NH3/s-1.00/sto-6g/NH3_s-1.00_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/NH3/s-1.00/sto-6g/NH3_s-1.00_sto-6g"
general.file_format = "default"
hamiltonian.add_atom("N", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 0.937900138713, 0.000000000000, 0.381178553703)
hamiltonian.add_atom("H", -0.468950069356, 0.812245346338, 0.381178553703)
hamiltonian.add_atom("H", -0.468950069356, -0.812245346338, 0.381178553703)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
