general.print_verbose()
general.logfile = '/Users/a_lee/Repos/qhat/hamiltonian_generator/b2_controlled_active_space_libraries/occ-006/B-B/1.70/sto-6g/B-B_1.70_sto-6g_as-006-006_JW.log'
general.file_stub = '/Users/a_lee/Repos/qhat/hamiltonian_generator/b2_controlled_active_space_libraries/occ-006/B-B/1.70/sto-6g/B-B_1.70_sto-6g'
general.file_format = "default"
L = 1.7
hamiltonian.add_atom("B", -0.85, 0.0, 0.0)
hamiltonian.add_atom("B", 0.85, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 6
hamiltonian.num_active_vacant = 6
hamiltonian.f2q_mapping = "JW"
