# Molecule: H2O (bent H2O)
# Uniform geometry scale relative to the built-in reference: 0.8
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/H2O/s-0.80/sto-6g/H2O_s-0.80_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/H2O/s-0.80/sto-6g/H2O_s-0.80_sto-6g"
general.file_format = "default"
hamiltonian.add_atom("O", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 0.606032638225, 0.000000000000, 0.469663709271)
hamiltonian.add_atom("H", -0.606032638225, 0.000000000000, 0.469663709271)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
