general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/extended_diatomic_20q_library/Li-Li/2.66/sto-6g/Li-Li_2.66_sto-6g_as-006-014_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/extended_diatomic_20q_library/Li-Li/2.66/sto-6g/Li-Li_2.66_sto-6g"
general.file_format = "default"
L = 2.66
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Li",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 6
hamiltonian.num_active_vacant = 14
hamiltonian.f2q_mapping = "JW"
