general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/N-N/1.42/sto-6g/N-N_1.42_sto-6g_as-006-006_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/N-N/1.42/sto-6g/N-N_1.42_sto-6g"
general.file_format = "default"
L = 1.42
hamiltonian.add_atom("N", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("N",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 6
hamiltonian.num_active_vacant = 6
hamiltonian.f2q_mapping = "JW"
