general.print_verbose()
general.logfile = '/Users/a_lee/Repos/qhat/hamiltonian_generator/hgbs5_diatomic_basis_transfer/lower/Li-Li/2.66/hgbs-5/Li-Li_2.66_hgbs-5_as-006-004_JW.log'
general.file_stub = '/Users/a_lee/Repos/qhat/hamiltonian_generator/hgbs5_diatomic_basis_transfer/lower/Li-Li/2.66/hgbs-5/Li-Li_2.66_hgbs-5'
general.file_format = "default"
L = 2.66
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Li",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 6
hamiltonian.num_active_vacant = 4
hamiltonian.f2q_mapping = "JW"
