general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/N-N/1.42/hgbs-5/N-N_1.42_hgbs-5_as-002-004_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/comparable_diatomic_library/N-N/1.42/hgbs-5/N-N_1.42_hgbs-5"
general.file_format = "default"
L = 1.42
hamiltonian.add_atom("N", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("N",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "hgbs-5"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 4
hamiltonian.f2q_mapping = "JW"
