# Molecule: CH4 (tetrahedral CH4)
# Uniform geometry scale relative to the built-in reference: 0.8
general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/CH4/s-0.80/sto-6g/CH4_s-0.80_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/polyatomic_library/CH4/s-0.80/sto-6g/CH4_s-0.80_sto-6g"
general.file_format = "default"
hamiltonian.add_atom("C", 0.000000000000, 0.000000000000, 0.000000000000)
hamiltonian.add_atom("H", 0.501601913872, 0.501601913872, 0.501601913872)
hamiltonian.add_atom("H", 0.501601913872, -0.501601913872, -0.501601913872)
hamiltonian.add_atom("H", -0.501601913872, 0.501601913872, -0.501601913872)
hamiltonian.add_atom("H", -0.501601913872, -0.501601913872, 0.501601913872)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
