general.print_verbose()
general.logfile = "/Users/a_lee/Repos/qhat/hamiltonian_generator/l_sweep_20_v1/Li-H/2.06/sto-6g/Li-H_2.06_sto-6g_as-002-002_JW.log"
general.file_stub = "/Users/a_lee/Repos/qhat/hamiltonian_generator/l_sweep_20_v1/Li-H/2.06/sto-6g/Li-H_2.06_sto-6g"
general.file_format = "default"
L = 2.0625
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("H",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 2
hamiltonian.num_active_vacant = 2
hamiltonian.f2q_mapping = "JW"
