general.print_verbose()
general.logfile = "/Users/abhijithj/Code/qhat/hamiltonian_generator/library/Li-Li/4.43/sto-6g/Li-Li_4.43_sto-6g_as-004-006_BK.log"
general.file_stub = "/Users/abhijithj/Code/qhat/hamiltonian_generator/library/Li-Li/4.43/sto-6g/Li-Li_4.43_sto-6g"
general.file_format = "default"
L = 4.4333
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Li",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 4
hamiltonian.num_active_vacant = 6
hamiltonian.f2q_mapping = "BK"
