general.print_verbose()
general.logfile = "Li-Li_2.90_sto-6g_as-004-008_bk.log"
general.file_stub = "Li-Li_2.90_sto-6g"
general.file_format = "default"
general.write_initial_state = False
L = 2.90000000
hamiltonian.add_atom("Li", -0.5 * L, 0.0, 0.0)
hamiltonian.add_atom("Li",  0.5 * L, 0.0, 0.0)
hamiltonian.basis = "sto-6g"
hamiltonian.num_active_occupied = 4
hamiltonian.num_active_vacant = 8
hamiltonian.f2q_mapping = "BK"
